
.accordion-button {
    cursor: pointer;
}
  


  .accordion-arrow:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(135deg);
    transition: transform 0.2s ease-in-out;
  }
  
  .accordion-active:after {
    transform: rotate(-45deg);
  }

.accordion-item{
  max-height: 0;
  overflow: hidden;
  
}

.accordion-item-active{
  transition: max-height 0.2s ease-out;
}