.accordion-button, .collapse-button {
    cursor: pointer;
}

.collapse{
  visibility: visible;
}

.accordion.accordion-arrow .accordion-button:after, .collapse.collapse-arrow .collapse-button::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(135deg);
  transition: transform 0.2s ease-in-out;
}
  
.collapse.collapse-open .collapse-button::after, .collapse-button.collapse-active::after {
  transform: rotate(-45deg) !important;
}

.accordion.accordion-open .accordion-button::after, .accordion-button.accordion-active::after {
  transform: rotate(-45deg) !important;
}

.accordion-content, .collapse-content{
  max-height: 0;
  overflow: hidden;
}

.accordion-content.accordion-active, .collapse-content.collapse-active{
  transition: max-height 0.2s ease-out;
}

.collapse.collapse-open .collapse-content, .accordion.accordion-open .accordion-content{
  max-height: 100%;
}

html.modal-active, body.modal-active {
  overflow: hidden;
}

.modal {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

.modal.modal-active {
  transform: scale(1);
}
.modal.modal-active .modal-body {
  background: white;
  animation: modalfadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.modal-active .modal-body .modal-content {
  opacity: 0;
  animation: modalscaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal.modal-active.out {
  animation: modalquickScaleDown 0s 0.5s linear forwards;
}
.modal.modal-active.out .modal-body {
  animation: modalfadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.modal-active.out .modal-body .modal-content {
  animation: modalscaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal .modal-body {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

.modal-body{
    padding: 15px;
}
.modal .modal-body .modal-content {
  background: white;
  padding: 50px;
  width: 30%;
  display: inline-block;
  border-radius: 3px;
  position: relative;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: opacity 0.2s ease-in-out;
}



.dropdown-content.show {
  opacity: 1;
}

.dropdown-content.out{
  opacity: 0;

}

.steps{
  list-style: none;
  counter-reset: step;

}

.step{
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}


.step:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}


.step:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.step:first-child:after{
  content: none;
}

.step.step-done:after{
  background: #3aac5d;
}
.step.step-done:before{
  border-color: #3aac5d;
  background: #3aac5d;
  color: white
}

.step.step-active:after{
  background: #3aac5d;
}
.step.step-active:before{
  border-color: #3aac5d;
  
}

@keyframes modalfadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes modalfadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes modalscaleUp {
  0% {
    transform: scale(0.8) translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes modalscaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(-100px);
    opacity: 0;
  }
}

@keyframes modalquickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}